<!DOCTYPE html>
<html>
<head>
  <title>Kcaasi</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= favicon_link_tag 'kcaasifavicon.ico' %>

<!----------NAV BAR----------------->
<div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">K.Caasi</a>
          <div class="nav-collapse">
            <ul class="nav">
              
              <li><a href="articles">Articles</a></li>
              <li><a href="#resume">Resume</a></li>
              <li><a href="#contact">Contact</a></li>
              <li><a href="about">About</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

<%= yield %>


</body>
</html>
